// COLORS
$color-primary: #212121;
$color-light-grey-background: #f9f9f9;
$color-grey-background: #f2f2f2;
$color-grey-outline: #dadce0;
$color-footer: #70757a;
$color-sign-in: #1a73e8;

// FONT
$default-font-size: 1.5rem;