.header--link {
  &:link,
  &:visited {
    text-decoration: none;
    color: $color-primary;
  }
  &:hover {
    text-decoration: underline;
  }
}

.footer--link {
  &:link,
  &:visited {
    text-decoration: none;
    color: $color-footer;
  }
  &:hover {
    text-decoration: underline;
  }
}